name: Publish release to NPM and GitHub Packages

on:
  release:
    types: [created]
    branches:
      - "main"

permissions:
  id-token: write # Required for OIDC
  packages: write
  attestations: write
  contents: read

jobs:
  build-and-publish-to-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          registry-url: "https://registry.npmjs.org"
      - uses: oven-sh/setup-bun@v2
      - run: npm ci
      - run: bun run release
      - run: |
          ((npm publish --provenance --access public 2> /dev/null) | grep "@ryupold/vode@" > version.txt) || echo "...done"
          NEWVERSION=$(cat version.txt)
          if [[ $NEWVERSION == *"npm error 409 Conflict"* || $NEWVERSION == *"@ryupold/vode@"* ]]; then
            echo "...success: $NEWVERSION"
          else
            echo "...failed to publish"
            exit 1
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          registry-url: "https://npm.pkg.github.com"
      - run: |
          ((npm publish --access public 2> /dev/null) | grep "@ryupold/vode@" > version.txt) || echo "...done"
          NEWVERSION=$(cat version.txt)
          if [[ $NEWVERSION == *"npm error 409 Conflict"* || $NEWVERSION == *"@ryupold/vode@"* ]]; then
            echo "...success: $NEWVERSION"
          else
            echo "...failed to publish"
            exit 1
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
